<div class="main d-flex align-items-center justify-content-center" id="contenedor">
  <div class="form-container text-center">
    <form class="form">
  <img src="logo.png" alt="Logo" class="logo-form mb-4" />
  <h2>Formulario de Registro</h2>

  <div class="form-row">
    <div class="form-group text-start">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" required />
    </div>
    <div class="form-group text-start">
      <label for="apellido">Apellido</label>
      <input type="text" class="form-control" id="apellido" required />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group text-start">
      <label for="fechaNacimiento">Fecha de nacimiento</label>
      <input type="date" class="form-control bg-dark text-white" id="fechaNacimiento" required />
    </div>
    <div class="form-group text-start">
      <label for="fotoPerfil">Foto de perfil</label>
      <input type="file" class="form-control bg-dark text-white" id="fotoPerfil" required />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group text-start">
      <label for="usuario">Usuario</label>
      <input type="text" class="form-control" id="usuario" required />
    </div>
    <div class="form-group text-start">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" required />
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group text-start">
      <label for="password">Contraseña</label>
      <input type="password" class="form-control" id="password" required />
    </div>
    <div class="form-group text-start">
      <label for="repetirPassword">Repetir contraseña</label>
      <input type="password" class="form-control" id="repetirPassword" required />
    </div>
  </div>

  <div class="form-group text-start">
    <label for="descripcion">Descripción breve</label>
    <textarea class="form-control bg-dark text-white" id="descripcion" rows="3" placeholder="Contanos algo sobre vos..." required></textarea>
  </div>

  <button type="button" class="btn btn-outline-primary mt-3" (click)="registrarUsuario()">Registrarse</button>
</form>

  </div>
</div>
